@model InmobiliariaVargasHuancaTorrez.Models.Usuario
@{
    ViewData["Title"] = "Edición de Usuario";
}

<div class="row mt-4 d-flex justify-content-center">
    <div class="col-md-5">
        @if (@Model.Id == 0)
        {
            <h2 class="text-center">Crear usuario</h2>
        }
        else
        {
            <h2 class="text-center">Editar usuario</h2>
        }
        <hr />

        <form asp-action="Guardar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="Id" value="@Model.Id">

            <div class="form-group mb-3">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control">
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control">
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Clave" class="control-label"></label>
                <input asp-for="Clave" class="form-control" type="password">
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Avatar" class="control-label"></label><br>
                <input type="file" asp-for="Avatar" accept="image/*"/>
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Rol" class="control-label">Rol</label>
                <select class="form-select" name="Rol">
                    <option value="1" selected="@(Model.Rol==1)">Administrador</option>
                    <option value="2" selected="@(Model.Rol==2)">Empleado</option>
                </select>

            </div>

            <div class="form-group mb-3 d-grid">
                <input type="submit" value="Guardar" class="btn btn-primary">
            </div>
        </form>

    </div>
</div>