@model IEnumerable<InmobiliariaVargasHuancaTorrez.Models.Contrato>

@{
    ViewData["Title"] = "Listado de Contratos";

}

<div class="text-center">
    <h2 class="mt-4">Listado de Contratos</h2>
    <a href="/Contratos/Edicion" class="btn btn-sm btn-success"><i class="bi bi-plus-lg"></i> Crear Contrato</a>
</div>
<table class="table" id="tablaContratos">
    <thead>
        <tr>
            <th>Inmueble</th>
            <th>Inquilino</th>
            <th>Propietario</th>
            <th>Fecha Finalizacion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@($"{item.Inmueble.Direccion}")</td>
                <td>@($"{item.Inquilino.Nombre} {item.Inquilino.Apellido} {item.Inquilino.Dni}")</td>
                <td>@($"{item.Inmueble.Propietario.Nombre} {item.Inmueble.Propietario.Apellido} {item.Inmueble.Propietario.Dni}")</td>
                <td>
                    @if (item.FechaTerminacion.HasValue)
                    {
                        @item.FechaTerminacion.Value.ToString("dd/MM/yyyy")
                    }
                    else
                    {
                        <span>Contrato en curso</span>
                    }
                </td>
                <td>
                    <a href="/Contratos/Detalle/@item.Id" class="btn btn-sm btn-primary"><i class="bi bi-info-circle"></i>
                        Detalle</a>
                    <a href="/Contratos/Edicion/@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pen"></i>
                        Editar</a>
                    @if (item.Estado)
                    {
                        <a href="/Contratos/Eliminar/@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-x-lg"></i>
                            Eliminar</a>
                    }
                    else
                    {
                        <a href="/Contratos/Habilitar/@item.Id" class="btn btn-sm btn-success"><i class="bi bi-check-lg"></i>
                            Activar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
